<!DOCTYPE html>

<html>

    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="center">
            {{>header}}
                <h2>More about Solar System Update</h2>
                <p class="feature">Welcome!  This web application makes three unique queries to the publically available NASA API, giving you an exciting and informative glimpse into the Solar System!</p>
                <div class="aboutWrapper">
                    <div class="feature">
                        <h2>Astronomy Picture of the Day (APOD)</h2>
                        <p>Enjoy a way range of unique content provided by NASA almost every day.</p>
                    </div>
                    <div class="feature">
                        <h2>Curiosity Rover Photos</h2>
                        <p>These are the images sent back by the Mars Curiosity rover Navigational Camera (NAVCAM).</p>
                    </div>
                    <div class="feature">
                        <h2>Asteroid Close-Approach Data</h2>
                        <p>Here you will find information about asteroids which have been catalogued by NASA, including their projected distance from Earth on close-approach.</p>
                    </div>
                </div>
            {{>footer}}
        </div>
    </body>

</html>