<!DOCTYPE html>

<html>

    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="center">
            {{>header}}
                <h2>Help with Solar System Update</h2>
                
                <div class="aboutWrapper">
                    <div class="feature">
                        <h2>Question: Why is there no Astronomy Picture of the Day?</h2>
                        <p>Answer 1: Check your dates.  Dates must be entered in YYYY-MM-DD format.  Additionally, NASA began the APOD project on 1995-06-16, so dates prior to that will not work.  Since then, it has been very consistent, but there are a few dates scattered throughout that 20+ years which do not feature APOD.</p>
                        <p>Answer 2: There may be a problem with NASA servers, try again.</p>
                    </div>
                    <div class="feature">
                        <h2>Question: Why is there no selection of Rover photos for a given date?</h2>
                        <p>Answer: The Rover was most likely passing by Martian settlements and other cool alien stuff.</p>
                    </div>
                </div>
            {{>footer}}
        </div>
    </body>

</html>